/**
 *
 * Desenvolvido por Marcus Gabriel Xavier Geraldino <marcusgx45@gmail.com>
 *
 * Versão 0.0.1
 * Data de criação: 2025-07-26
 *
 */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Exo+2:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    /*font-family: 'Orbitron', sans-serif;*/

    a {
        cursor: pointer;
    }
}

:root {
    --bs-primary: #008000 !important;
    --bs-primary-rgb: 0, 128, 0 !important;
    --bs-btn-bg: #008000 !important;
    --bs-btn-bg-hover: #006400 !important;
}

.btn-primary {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;

    &:hover {
        background-color: var(--bs-btn-bg-hover) !important;
        border-color: var(--bs-btn-bg-hover) !important;
    }
}